# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Development artivfacts
*test*
.vscode
Deployment/GitDeploy/deploy.ps1
parameters-local.json
*.bkp
*.ppt*
*.doc*

# PowerShell Gallery Modules
FunctionApp/Modules/AzureAD/*
FunctionApp/Modules/MicrosoftTeams/*